* {
	box-sizing: border-box;
	overflow: hidden;
}

html {
	height: 100%;
}

body {
	background-color: #454545;
	color: #fff;
	margin: 0;
	height: 100%;
}

h1,
h2 {
	font-family: sans-serif;
}

button {
	background-color: #fff;
}

select {
	background-color: white;
}

.metronome {
	background-color: #333;
	height: 95%;
	width: 80vw;
	margin: 2.5vh 10vw;
	color: #fff;
	border-radius: 1em;
	box-shadow: #222 2px 2px 4px;
	text-align: center;
}

.container {
	height: 20%;
}

.lights-container {
	height: 23%;
	padding-top: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.light {
	background-color: #634;
	padding: .7em;
	border-radius: 50%;
	margin: 0 .8em;
}

.light-active {
	background-color: #f37;
	box-shadow: 0 0 4px 2px #f37;
}

.bpm-container {
	width: 100%;
	padding-top: 5%;
	height: 17%;
}

.bpm-container-content {
	padding: 0 25%;
	width: 100%;
	display: flex;
}

.bpm-container-content > div {
	display: flex;
}

.bpm-container-button {
	touch-action: manipulation;
	width: 20%;
}

.bpm-container-button > img {
	align-self: center;
	width: 100%;
	cursor: pointer;
}

.bpm-container-text {
	width: 70%;
}

.bpm-container-text > h1 {
	margin: 0 auto;
}

.range-container {
	margin-top: 5%;
}

.slider {
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	width: 60%;
}

.slider:hover {
	opacity: 1;
}

.time-sign-container {
	width: 100%;
}

.select-count,
.select-note {
	width: 15vw;
	font-size: medium;
}

.select-subdivision {
	font-size: medium;
}

.play-button-container {
	display: flex;
}

.play-button-container > div {
	align-self: center;
	margin: 0 auto;
	width: 16%;
}

.loop-toggle {
	width: 100%;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	.metronome {
		width: 330px;
		height: 90vh;
		border-radius: 1em;
		margin: 5vh auto;
	}

	.select-count,
	.select-note {
		width: 2.5em;
		font-size: larger;
	}

	.select-subdivision {
		font-size: larger;
	}
}
