* {
	box-sizing: border-box;
}

body {
	background-color: #454545;
	color: #fff;
	margin: 0;
}

button {
	background-color: #fff;
}

select {
	background-color: white;
}

.metronome {
	overflow: hidden;
	background-color: #333;
	height: 90vh;
	width: 80vw;
	margin: 5vh 10vw;
	color: #fff;
	border-radius: 1em;
	box-shadow: #222 2px 2px 4px;
	text-align: center;
}

.container {
	overflow: hidden;
	height: 20%;
}

.lights-container {
	padding-top: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.light {
	background-color: #a35;
	float: left;
	padding: 0 .7em;
	height: 1.4em;
	border-radius: 50%;
	margin: 0 .9em;
}

.light-active {
	background-color: #f25;
	box-shadow: 0 0 3px 1px #f25;
}

.bpm-container {
	width: 100%;
	padding-top: 5%;
}

.bpm-container-content {
	overflow: hidden;
	padding: 0 25%;
	width: 100%;
	display: flex;
}

.bpm-container-content > div {
	display: flex;
}

.bpm-container-button {
	width: 20%;
	float: left;
}

.bpm-container-button > img {
	align-self: center;
	width: 100%;
	cursor: pointer;
}

.bpm-container-text {
	width: 70%;
	float: left;
}

.bpm-container-text > h1 {
	margin: 0 auto;
}

.range-container {
	margin-top: 5%;
}

.slider {
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	width: 60%;
}

.slider:hover {
	opacity: 1;
}

.bpm-container-tap {
	clear: both;
	width: 100%;
}

.time-sign-container {
	clear: both;
	width: 100%;
}

.select-count,
.select-note {
	width: 2.5em;
	font-size: x-large;
}

.select-subdivision {
	font-size: larger;
}

.play-button-container {
	display: flex;
}

.play-button-container > div {
	align-self: center;
	margin: 0 auto;
	width: 16%;
}

.play {
	width: 100%;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	.metronome {
		width: 300px;
		height: 80vh;
		border-radius: 1em;
		margin: 10vh auto;
	}
}
